h1{
    margin-left: 600px;
}

.h-link{
    margin-left: 8px;
}

h2{
    font-size: 30px;
}

p{
    font-size: 17px;
}

.page-title{
    margin-top: 40px;
    font-size: 50px;
}

.page-text{
    font-size: 20px;
}